*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.register-container{
    max-width: 800px;
    background: #fff;
    border-radius: 25px;
    padding: 25px;
    box-shadow: 0px 10px 30px -10px rgba(0, 0, 0, 0.7);
}

.register-container header{
    font-size: 33px;
    font-weight: 700;
    color: #001972;
}

.input-field{
    padding: 20px;
    margin: 25px 0;
    border-radius: 22px;
}

.input-field:focus{
    outline: none;
}

.form-select{
    color: #6c757d;
}

.signup-button{
    margin: 10px 0;
    padding: 10px 25px;
    border-radius: 22px;
    background: #001972;
    color: white;
    font-weight: 700;
}

.signup-button:hover{
    border: 2px solid #001972;
    background: transparent;
    color: #001972;
    transition: eas 150ms;
}

